[2015-05-25 21:39] mbleigh opened #4 "Attribute to make links open in new window"
There should be a boolean attribute that will cause links in the parsed source to have `target="_blank"` on them.

[2015-06-14 17:59] peterblazejewicz opened #8 "Update link to Marked project page in element documentation"
The broken link was already subject of PR:
https://github.com/PolymerElements/marked-element/commit/5b273a9ea7aeb2732df5d7d6336a79c13a065649
but the problem was not fixed in element documentation, so it still points to scary website from Polymer Element Catalog.
Just move change to: https://github.com/PolymerElements/marked-element/blob/master/marked-element.html#L14

[2015-06-25 21:03] #8 closed, assigned to nobody

[2015-07-02 22:53] m4b opened #10 "script tag in fenced code breaks"
I've noticed that a script tag in a code fence seems to break the markdown processor, e.g.:

[code]

yields the first four ` marks and the language tag, and nothing else (if the gfm language tag and the extra ` are not used, and only three `'s, the issue still persists).  However, if the closing `</script>` tag is modified to be `</ script>`, it is processed as expected, e.g.:

[code]

I'm not sur

[2015-08-03 20:52] devinivy commented on #10
Verified– we're having the same issue.

[2015-09-17 11:54] LukyVj opened #13 "Marked library link is broken or not redirecting to the proper page"
Hi, I don't think this is the proper marked page :
![](http://puu.sh/kelAe/11b0961ac0.png)

[2015-09-17 15:40] samccone commented on #13
Ha Yep !

[2015-09-17 15:52] samccone commented on #13
@LukyVj I think this was fixed a while ago:
https://github.com/PolymerElements/marked-element/pull/6/files

Where did you find this link?

[2015-09-23 06:38] ghost opened #14 "Loading markdown from server and caching. Question."
I noticed that this component allows the markup to be referenced from a script tag, so I can have the content stored in Google storage in a bucket, and so it acts as a poor man's cms.

Is my understanding correct ?

[2015-09-25 15:02] samccone opened #15 "xpost marked elements with a class of iron-doc-viewer are hidden"
it appears all the marked-elements with a class of iron-doc-viewer have the hidden class applied to the content node.

This is making dev a bit more time-consuming.

posted here https://github.com/Polymer/polymer/issues/2478

[2015-09-25 15:06] #15 closed, assigned to nobody

[2015-09-25 19:55] ebidel opened #16 "Why <script type="text/markdown">?"
It would be cool for the light dom to support `<template>` instead of the old `type` hack. Something like https://github.com/ebidel/polymer-change/blob/master/elements/code-cycler.html#L11-L22

cc @notwaldorf

[2015-09-25 19:59] ebidel commented on #14
You could certainly load the content from a sever. However, the element doesn't support `<script src>`. You'd have to inject the text directly on the page. However, you could also use it with iron-ajax, like this example: https://github.com/Polymer/marked-element/issues/12

[2015-09-25 19:59] #14 closed, assigned to nobody

[2015-09-27 04:51] Holi0317 opened #17 "[Feature request] Accept options in attribute"
Make this element to take an object of options and pass it to marked library. This can avoid setting option globally.

[2015-10-19 23:31] sebs opened #18 "vulcanize removes whitespace"
when you trigger a vulcanize on a field with markdown, all whitespace gets removed and minified. This modifies the markdown source before the toHtml process.

[2015-10-20 00:13] ebidel commented on #18
You probably want to use the `.text` property in cases like this. I thought Vulcanize didn't strip whitespace though...?

[2015-10-20 08:30] sebs commented on #17
I am working on this and have some questions on how to handle the boolean parameters. Is there a best practice how to pass a boolean false to an element attribute?

[2015-12-01 04:32] notwaldorf opened #23 "_unindent() should be public because it's actually useful"

[2015-12-10 08:24] soonick opened #24 "Syntax highlighting"
Hello,

Is syntax highlighting supported? In the demo you have a piece of code using:

[code]

But it not colored.

![rendered](https://cloud.githubusercontent.com/assets/281836/11710461/b147dae0-9f1f-11e5-8b97-69c85fe808a4.png)

[2015-12-16 01:18] notwaldorf commented on #24
`marked-element` doesn't do any syntax highlighting, but `prism-highlighter` does, and it's super easy to use! Here's an example of the two working together: http://jsbin.com/yegodu/edit?html,output

You basically just have to add a `<prism-highlighter></prism-highlighter>` element on your page (or wherever you're using `marked-element`) and you get highlighting!

[2015-12-16 01:18] #24 closed, assigned to nobody

[2015-12-16 01:18] notwaldorf commented on #18
/cc @garlicnation

[2015-12-16 01:20] notwaldorf commented on #13
Closing, looks fixed

[2015-12-16 01:20] #13 closed, assigned to nobody

[2015-12-16 11:50] soonick commented on #24
Thanks. That is exactly what I needed :)

[2016-01-07 19:38] #23 closed, assigned to notwaldorf

[2016-01-19 04:58] chriswalz opened #28 "Does marked element do syntax highlighting for code?"
I was expecting this to text to have syntax highlighting in a marked element. If it's supposed to be this way, will syntax highlighting be a feature in an upcoming version?

[code]

<img width="664" alt="screen shot 2016-01-19 at 12 02 32 am" src="https://cloud.githubusercontent.com/assets/6971318/12410163/0577c348-be40-11e5-9db7-802bb171b31f.png">

[2016-01-19 07:56] notwaldorf commented on #28
`marked-element` doesn't do any syntax highlighting, but `prism-highlighter` does, and it's super easy to use! Here's an example of the two working together: http://jsbin.com/yegodu/edit?html,output

You basically just have to add a `<prism-highlighter></prism-highlighter>` element on your page (or wherever you're using `marked-element`) and you get highlighting!

[2016-01-19 07:56] #28 closed, assigned to nobody

[2016-01-19 18:08] chriswalz commented on #28
Thanks!

[2016-01-27 00:00] notwaldorf commented on #4
I'll take a look this week!

[2016-01-27 23:20] notwaldorf commented on #10
I think you need to escape the brackets in the `</script>` bit (`&lt;/script&lg;`), or else it will literally close the markdown script and stop parsing. I don't think there's anything we can do on the element side to make this less painful

[2016-01-27 23:26] notwaldorf commented on #10
Re-opening. @cdata had the idea to also use `<noscript>` tags instead of `<script>` in this element as an alternate way to pass the script, which would fix this issue.

Any interest from the community to help with this PR? :)

[2016-01-28 22:45] kevinpschaaf commented on #16
In general if the text is not HTML, it's bad (wasteful, mostly) for the parser to parse the text into nodes at all, and `<script type="...">` has that benefit (while `<template>` is still parsing it as HTML), but the differences may be negligible.  @cdata suggested `<noscript>` as a container, which both gives no-parsing, and won't close if the example has a closing `</script>` (or `</template>`,

[2016-01-28 22:46] kevinpschaaf commented on #17
Resolved in https://github.com/PolymerElements/marked-element/pull/19.

[2016-01-28 22:46] #17 closed, assigned to nobody

[2016-02-19 15:42] thexs-dev opened #30 "textarea newline not showing in markdown"
I have this simple combination:

[code]

However, a newline in textarea won't show up in marked-element as I expected, unless it's followed by a space or there are two newlines
Is that an issue in either element or the expected behavior?
Thanks, Fausto
p.s. MD from this GitHub comments page works as I'd expected

[2016-04-25 03:10] kishaningithub opened #32 "Easier addition of new programming languages"
### Description

   Must be easier to add new languages instead of forking, updating gulp file of prism and
creating a new custom component.
Suggestion: Make it a part of your yeoman "generator-polymer". B-)
### Expected outcome

Must add a new language to this element without breaking a sweat.
### Actual outcome

Adding does break a sweat.

### Live Demo

### Steps to reproduce

1) Try adding a n

[2016-06-03 21:11] salah-saleh commented on #16
I have a question here, I tried to put my markdown in a file and use

`<script type="text/markdown" src="/data/blog-post.md"></script>`

but it didn't work, does it only work if the markdown is directly inside the script tag or am I doing something wrong?

[2016-06-03 22:07] ebidel commented on #16
@kevinpschaaf good point. Albeit small, perf win == perf win. You'd also save on the `.innerHTML` serialization.

[2016-06-07 19:46] salah-saleh opened #34 "[Feature request] Adding the 'src' attribute to the script tag and make loading markdown from a .md file possible"
I wish if something like the code below would be possible. I think the element would be much more usable.

[code]

[2016-06-10 10:52] NicolasRannou commented on #30
+1...

[2016-06-16 23:50] phidias51 opened #35 "Add optional toolbar for bold, italics, quotes, code, link, bullets, numbering, task list."
### Description

It would make it easier for users to use the component if there were a toolbar with buttons for common markdown annotations like: bold, italics, quote, code snippet, links, bullet points, numbered items and task lists (just as you see in this editor whenever you file a bug).

[2016-06-18 12:48] TimvdLippe commented on #32
I think this issue has been resolved in `prism-element` with https://github.com/PolymerElements/prism-element/pull/12

[2016-08-04 16:25] joeblew99 opened #37 "fails to build with polymer cli"
node: 6.3.1.
polymer cli: 0.13.0

When using "marked-element" within the standard app template that the polymer cli generates, a page with this element will cause the build to output an error. When "marked-element" is removed there is no error.

[code]

test page:

[code]

[2016-08-05 22:48] notwaldorf commented on #37
/cc @FredKSchott

[2016-08-08 21:18] FredKSchott commented on #37
That output looks scary, but it is just a warning. Your app will still continue to build, just marked-element will not have been minified.

Still, we should look into what uglify doesn't like about marked-element. Possibly the long comment in marked-element.html?

[2016-09-28 20:20] 43081j commented on #37
@FredKSchott FYI this is because polymer-build will take any script tag regardless of type and pass it through as `.js` ([here](https://github.com/Polymer/polymer-build/blob/master/src/polymer-project.ts#L189)).

This is due to unknown types defaulting to `js` ([this map](https://github.com/Polymer/polymer-build/blob/master/src/polymer-project.ts#L27)), [here](https://github.com/Polymer/polymer-bu

[2016-09-29 09:39] joeblew99 commented on #37
@FredKSchott

You mentioned that the bug does not matter because its just errors to screen, but the build still works.
That is not what i am experiencing. You should try..
Today i tried it again, and below is my findings.

polymer server WORKS
polymer build WORKS; with all the errors spat out about uglify having a bad day..
polymer serve build/bundled FAILS. Cant even server index.html.
polymer se

[2016-10-25 21:35] therealmik opened #40 "The marked-element in insecure by default"
### Description

The marked-element has sanitize set to false by default, meaning that users of it are vulnerable to XSS unless it occurs to them to add the word sanitize.

It would be more sensible to add a noSanitize property (that defaults to false), and people that really trust their markdown can set it.

It will be obvious to people who need no-sanitize that something's wrong, and most likely

[2016-10-26 16:53] FredKSchott commented on #37
@43081j @joeblew99 thanks for digging into this, just created a PR to fix in polymer-build.

It _should_ just be warning and still building properly, but it sounds like it's not. I'll have to dig into that a bit more as well.

[2016-10-26 22:55] joeblew99 commented on #37
@FredKSchott thanks for picking this up again.

let me know if you need any more info...

[2016-11-16 12:16] thexs-dev commented on #30
To allow for GFM line breaks, so there's no need to use MD's two-space line breaks, I just included the following line of code within a script tag

`window.marked.options({breaks:true}); // to enable GFM single line break
`

[2016-11-16 12:16] #30 closed, assigned to nobody

[2017-01-24 04:36] Boscop opened #42 "Line break support"
Is there a way to have newlines for every newline in the markdown?
The marked library supports the `breaks` and `gfm` options.
But why aren't they exposed in `marked-element`?
Please add them!

In my usecase I want a html line break (`<br>`) wherever the string has a newline (`\n`)

[2017-01-24 22:09] tiffz commented on #4
I need this behavior for a project I am currently working on. Has this been looked into? I am interested in submitting a pull request to address this.

[2017-01-24 22:45] FredKSchott commented on #4
No one has looked into this as far as I know (/cc @notwaldorf to confirm). @mbleigh @tiffz can either of you explain a bit more about this? When are urls currently turned into links (I checked out http://prismjs.com/ and didn't see this happening)?

Happy to add an additional option to send to prism, but I'm less enthusiastic about adding new plugins or writing our own parse logic on top of prism.

[2017-01-24 22:58] tiffz commented on #4
I think this is referring to the HTML generated by marked-element, which is based on the marked library: https://github.com/chjj/marked (I'm not sure what prism has to do with this?)

In the "Overriding renderer methods" section of their README it looks like marked already has support for adjusting the behavior of elements that are rendered.

For the app I am working on, it breaks users' workflows

[2017-01-24 23:13] FredKSchott commented on #4
haha whoops, I got my issues/repos mixed up :) Yea this sounds like a very useful thing to support.

It looks like the marked maintainers support customizing behavior by passing a custom renderer to marked (https://github.com/chjj/marked#overriding-renderer-methods) so that not every custom behavior needs a boolean option. Is there a way to use that same interface for our element? What about a fun

[2017-01-24 23:14] FredKSchott commented on #42
+1, we should definitely support the options that marked supports.

[2017-01-25 00:08] tiffz commented on #4
I think making a function attribute that takes a renderer would be a fine approach. So, for example:

[code]

and linkFunction could be set by the user to something like:

[code]

Then marked-element could pass along the function to its own instance of a marked renderer. I think it would represent a decent amount of work to get this to work for all of the different renderer types that marked suppo

[2017-01-25 22:34] FredKSchott commented on #4
How about one step further, where we expose a single `renderer` attribute for all rendering customization? That way we don't need to create a mapping for every supported element.

[code]

[code]

[2017-01-27 00:43] tiffz commented on #4
I like the idea of that API. Though one caveat I realized while looking through marked is that the renderers for marked that you override contain some sanitization. For example, marked's default link renderer is:

[code]

This is more of a problem on marked's side I think, but this does mean their API to override renderers is very likely to encourage users to code in a way that compromises securit

[2017-01-30 19:48] FredKSchott commented on #4
Added in #44

[2017-01-30 19:48] #4 closed, assigned to notwaldorf

[2017-01-31 08:40] Abe90 opened #45 "marked-element doesn't have no more the scrollbar"
The `marked-element` element doesn't have no more the scrollbar and overflowing from parent.
The issue was introduced here https://github.com/PolymerElements/marked-element/pull/38

Demo: https://www.webcomponents.org/element/Abe90/paper-avatar/demo/demo/index.html

[2017-01-31 18:56] notwaldorf commented on #45
Oooof, you're right. I don't want to revert that change since a bunch of time has passed since it's landed. Would you mind sending a PR that adds back `display:block`?
/cc @FredKSchott

[2017-02-01 20:20] #45 closed, assigned to nobody

[2017-02-02 13:47] stevehansen commented on #42
I've changed this with `marked.default.break = true;` because I always needed it

[2017-02-02 15:43] Boscop commented on #42
@stevehansen How do you mean that? I don't see a default property on this element.

[2017-02-03 10:15] stevehansen commented on #42
The marked variable is the underlying library that is used. So using that snippet in javascript will enable soft breaks for all marked-elements on the current page.

[code]

[2017-02-03 19:18] Boscop commented on #42
@stevehansen `marked` should be a global variable, right? But if I try this in my custom element where I have the marked-element as a child, it doesn't work:
[code]

    at HTMLElement.ready

[2017-02-03 20:29] stevehansen commented on #42
My bad, was writing the code out of my head, it should have been defaults instead of just default

[2017-02-03 20:44] Boscop commented on #42
Ah, I had to also write `breaks` instead of `break`:
[code]
Now it works, thanks!
But nevertheless, this should be exposed via an attribute..
(Also `sanitize` and `gfm`.)

[2017-02-16 06:21] Boscop opened #47 "Support for target="_blank" for links"
It would be useful to have an option to open all links in the markdown in a new tab with ` target="_blank"`.

[2017-02-16 18:24] FredKSchott commented on #47
This is now possible via https://github.com/PolymerElements/marked-element/issues/4.

Since we've heard this request in a few issues now, we may want to make a shortcut for this configuration.

[2017-02-16 21:03] Boscop commented on #47
@FredKSchott How could this be done with that feature?
I don't see a way to pass the renderer to the element.

[2017-02-16 22:08] FredKSchott commented on #47
The property is `renderer`, there's info in #44 & [here](https://github.com/PolymerElements/marked-element/blob/master/marked-element.html#L115) about how to use it:

[2017-02-23 09:58] benmiller86 opened #48 "marked-element removing elements when in a paper-dialog-scrollable"
### Description
If I put the `<marked-element>` in a `<paper-dialog-scrollable>` element it removes any elements I put after the close of the scrollable element and before the close of the containing `<paper-dialog>`.

If I remove the `<script>` tags from the `<marked-element>` nothing is removed, but obviously I don't get my markdown rendered.

### Example

[code]

This is the resulting DOM, noti

[2017-02-24 05:09] FredKSchott commented on #48
Wow... that is very strange. @notwaldorf any idea how this could be happening?

[2017-03-09 13:28] web-devel commented on #16
It seems when using `<script type="text/markdown">`  double curly/square brackets are being stripped (because of binding?).

[code]
shows nothing
related issue https://github.com/Polymer/polymer/issues/3726

[2017-03-11 00:38] #42 closed, assigned to nobody

[2017-03-23 21:27] jroosing commented on #34
I need this. I am currently porting zero-md to polymer 2 cause it more closely resembles my needs (loading markdown from external source)

[2017-03-23 23:21] FredKSchott commented on #34
The team doesn't have the resources to add this right now, but I'd happily work with anyone willing to create a PR to add this.

[2017-03-27 14:46] stramel commented on #16
@web-devel Is there a reason you wouldn't use the `markdown` property?

[2017-03-27 14:56] stramel commented on #34
@FredKSchott If you don't mind highlighting how you feel it should be gone about I will submit a PR. It sounds like I would need to add an iron-ajax to make a request if the src attribute is present?

[2017-03-28 12:14] jroosing commented on #34
Allright @FredKSchott thanks for the info!

@stramel you could use iron-ajax, but I generally prefer to keep elements as flat as possible, so in this case you could just use plain XHR. @FredKSchott What is your stance on this?

[2017-03-28 20:04] FredKSchott commented on #34
I don't have a strong stance for or against `<iron-ajax>`, but since we're talking about an optional feature I agree that adding a dependency to everyone isn't great. So I'd prefer to see native XHR if the request is simple.

[2017-03-28 22:49] stramel commented on #34
@fredkschott @joeyroosing I will take a stab at it!

[2017-03-31 21:20] stramel commented on #48
Hmmmmm not seeing this behavior, https://jsfiddle.net/stramel/5qutwLd0/

@benmiller86 Can you provide a jsfiddle to reproduce this?

[2017-03-31 21:32] stramel commented on #10
@notwaldorf I believe this is possible at this point in time since it only looks for `[type^="text/markdown"]`.

Personal testing with `<noscript type="text/markdown">...</noscript>` appears to work.

Alternatively, using `src` property being added in #51 will work as well.

[2017-04-01 05:14] stramel commented on #40
These properties are driven by the [marked](https://github.com/chjj/marked#sanitize) library API. I would bring it up over there. I don't know enough about the details about it.

[2017-04-01 05:18] stramel commented on #37
Can this be closed?

[2017-04-01 05:21] stramel commented on #35
This sounds more like a Markdown Input/Editor/WYSIWYG rather than this which is for displaying Markdown content.

I could see this being useful as a separate element. Maybe implementing this for a preview section?

[2017-04-01 05:27] therealmik commented on #40
I'm not proposing an upstream change, just proposing that we enable secure markdown by default, and allow people that want allow arbitrary html (including scripts) to pass a no-sanitize for rendering trusted markdown.

This poor default has caused numerous XSS vulnerabilities.

So the proposal is simply to remove the sanitize boolean property, and create a noSanitize property that has the inverse

[2017-04-19 23:28] stramel commented on #34
@salah-saleh @joeyroosing This has been merged and tagged as v1.4.0.

[2017-04-19 23:28] #34 closed, assigned to nobody

[2017-04-19 23:29] #10 closed, assigned to nobody

[2017-04-20 11:21] jimivdw opened #53 "Changes in v1.4.0 contain ES2015 method shorthand syntax, causing issues in older browsers"
### Description
ES2015 shorthands are used to define the `_handleError` method: https://github.com/PolymerElements/marked-element/blob/master/marked-element.html#L327. Therefore, the component will no longer work in browsers that do not support this, including IE11.

### Expected outcome
No ES2015+ syntax is used, component works in all browsers supported by Polymer (https://www.polymer-project.or

[2017-04-20 12:18] Maksim-Bartoshyk commented on #53
uglifyjs also unable to parse such code

[2017-04-20 14:59] stramel commented on #53
Shoot! Sorry guys! I will have a fix in shortly!

[2017-04-20 15:12] #53 closed, assigned to nobody

[2017-04-20 15:19] #47 closed, assigned to nobody

[2017-04-21 13:20] brettpostin opened #55 "Inline <script type="text/markdown"> not picked up in ready()"
### Description
**TL;DR**

`var markdownElement = Polymer.dom(this).querySelector('[type^="text/markdown"]');`

In Chrome, this line in the `ready()` callback returns `null `unexpectedly.

**Long Version**

Ok I've tried to reproduce this in isolation but I'm having difficulty so I will have to try and explain as best I can.

**_Environment_**:

- Heavily developed instance of the Polymer Starter

[2017-04-21 14:06] stramel commented on #55
@brettpostin what version of the `marked-element` are you using? I'm not able to reproduce https://jsfiddle.net/stramel/qfbwsLj6/

[2017-04-21 16:42] brettpostin commented on #55
Originally 1.3.1, however I have just updated to 1.4.1 and still see the issue.

As mentioned above I'm struggling to reproduce this with the markup above in isolation. As it seems to be affected by other elements in the document, I'm wondering if another (our badly implemented) element could be interfering with the shady dom in some way?

But then it's strange that it only happens in Chrome...

[2017-04-21 17:10] brettpostin commented on #55
For reference, the only other markup inside the body is the following:

[code]

Something as simple as commenting out the two `<div>` tags in the bottom pane seemingly changes the behaviour, making all 4 `marked-elements` render as expected.

Uncommenting out various other portions can change which of the four `marked-elements` does not render.

Confused!

[2017-05-03 17:39] vpusher opened #57 "Unable to bind script tag's src attribute"
### Description

When using `<marked-element>` in a **template** and binding the `src` attribute of the `<script>` tag, the `src`attribute is always found empty in the  `<marked-element>` ready callback. The attribute seems to be read a bit early.

### Expected outcome

The `<marked-element>` should be able to read the `src` attribute properly and make the request, so the markdown file could be do

[2017-05-03 17:51] FredKSchott commented on #57
@e111077 what do you think about @stramel's idea here? Makes sense to me but I'd love to get get a more experienced opinion.

[2017-05-03 18:30] e111077 commented on #57
~Looks like we need to call the `request` function on `src`'s observer~

err took another look

[2017-05-03 21:25] #57 closed, assigned to nobody

[2017-05-04 08:08] vpusher commented on #57
@e111077 @FredKSchott Thanks guys. It was very quick! I appreciate it. 👍

[2017-05-08 23:14] RenatoUtsch opened #59 "Is the 2.0 branch working?"
Hi,

I wanted to use this element with Polymer 2.0. Is the 2.0 branch working already and in an usable state?

[2017-05-09 08:40] notwaldorf commented on #59
Yeah, it should be! It's being used in `iron-demo-helpers` already!

[2017-05-09 08:40] #59 closed, assigned to nobody

[2017-05-09 15:20] stramel commented on #16
@notwaldorf Can we close this?

[2017-05-20 04:16] robrez opened #60 "inconsistency in documentation (slot vs class)"
### Description
Some of the examples `slot`, some use `class`
[code]

I think maybe the `class` should be changed to `slot`?

[2017-05-20 04:32] stramel commented on #60
Thanks for reporting this, seems they got overlooked during the upgrade!

[2017-05-21 06:44] robrez opened #62 "binding script src might only work once"
### Description
When attempting to re-use a `marked-element` instance to render different MD files by binding to the script's `src` attribute, there are scenarios that fail.

### Expected outcome
Markdown changes when property bound to `src` changes

### Actual outcome
Markdown does not change when property bound to `src` changes

### Steps to reproduce
The setup is similar to the example from the

[2017-05-22 18:15] #60 closed, assigned to nobody

[2017-05-24 17:50] #16 closed, assigned to notwaldorf

[2017-05-24 17:52] FredKSchott commented on #62
Can reproduce.

As far as I know we've never supported this behavior, but +1 for adding support. Filing as an enhancement.

I Won't be able to get to this anytime soon, but would be happy to review a PR.

[2017-05-24 20:26] stramel commented on #62
@FredKSchott I believe this is a bug. I will try to put out a fix for it.

[2017-05-25 00:26] stramel commented on #55
@brettpostin Can you try out the latest version? I think it may have been some kind of timing issue that should be resolved with the `MutationObserver` that @e111077 added.

[2017-05-25 00:26] #62 closed, assigned to nobody

[2017-05-26 10:04] brettpostin commented on #55
Updated to 2.1.0 and afraid it didn't help.

I did try stripping everything back in our app and it was still evident so I will have another go at reproducing it in an isolated environment.

[2017-05-26 14:19] stramel commented on #48
@FredKSchott @e111077  Are you good with closing this? I was unable to reproduce with the jsfiddle above.

[2017-05-26 14:20] stramel commented on #37
@FredKSchott Do you want to close this since your fix was merged last october?

[2017-05-26 14:55] stramel commented on #18
@ebidel @notwaldorf @e111077 @FredKSchott I think this can be closed... I haven't seen anything like this with the latest build process and I believe vulcanize has been deprecated?

[2017-05-26 15:03] stramel commented on #32
@FredKSchott I believe @TimvdLippe is correct that this should be handled through prism-element?

[2017-05-27 01:18] e111077 commented on #18
What is the story on supporting vulcanize, @FredKSchott @rictic?

[2017-05-29 13:09] sebs commented on #18
ah ok, yeah close it if ya like. Everything has changed since I opened this one. There is no vulcanize anymore I guess.

[2017-05-29 13:10] sebs commented on #40
This is a property of the used markdown lib? Sounds like a sensible default. ;) If there  is agreement we should take this in, I can make up a PR for it.  Thanks for the indepth report btw

[2017-05-30 21:18] #18 closed, assigned to nobody

[2017-06-02 11:20] chalu opened #66 "marked-element exposes no way for syntax highlight in fenced code blocks"
### Description
The `marked-element` element has no clear or configurable way of highlighting code, e.g with highlight js.

### Expected outcome

Code blocks should be highlight-able using marked.js highlight option

### Actual outcome

marked-element only fires a 'syntax-highlight' event which I can listen for. There is no way to plug in and highlight code

### Steps to reproduce

1.Load highligh

[2017-06-02 21:41] stramel commented on #66
@chalu So disclaimer that I haven't attempted this, but you should be able to...

Listen for the event `syntax-highlight` using the listener to process the code. Updating the `code` property of the event.

https://github.com/chjj/marked#highlight

**UPDATE:** Here is a quick jsfiddle to get you going. https://jsfiddle.net/stramel/qfbwsLj6/

[2017-06-03 02:12] chalu commented on #66
I made some changes that broke the fiddle. Here is how my code is actually structured : https://paste.fedoraproject.org/paste/borN7tKz17m7ok8orervPl5M1UNdIGYhyRLivL9gydE= I am using Polymer 2.x with ES6 classes. e.detail.code gets set to the transformed / highlighted code that is displayed in the browser. I just need to figure out why I still don't see any syntax highlight.

Thanks a lot.

[2017-06-03 07:30] stramel commented on #66
It just appears that the highlightjs styles aren't applying. The dom looks correct at least in my fiddle to match what you have.

https://jsfiddle.net/stramel/crx1zL3n/

[2017-06-03 11:23] chalu commented on #66
Yes. You are correct. I got it working with this hack / solution:
1.  I created a shared styles element called 'highlight-styles'.
2. I copied the contents of a highlight.js style into it, e.g https://github.com/isagalaev/highlight.js/blob/master/src/styles/github.css
3. Since importing ' highlight-styles' into the custom element hosting the marked-element did not apply the highlight styles to cod

[2017-06-04 23:03] stramel commented on #66
Currently, there isn't a good way to get around it. Maybe once we offer a 2.0 (non-hybrid), you could extend `marked-element` to do that a bit easier... I think what you said now is probably the best way to handle it.

[2017-06-05 11:22] chalu commented on #66
Thanks. One more thing, the syntax-highlight event is not documented here: https://www.webcomponents.org/element/PolymerElements/marked-element/elements/marked-element I had to look at the source code for marked-element to figure this out on line 303 : https://github.com/PolymerElements/marked-element/blob/master/marked-element.html#L303

Would be nice to also include a code-highlight example with

[2017-06-05 12:37] stramel commented on #66
Ah, good point. Yeah, feel free to put a PR updating the documentation.

[2017-06-06 15:34] chalu commented on #66
Great. Doing so ..

[2017-06-06 16:36] #32 closed, assigned to nobody

[2017-06-06 16:36] #37 closed, assigned to nobody

[2017-06-06 22:25] e111077 commented on #48
I cannot reproduce either. I just want a second opinion from @valdrinkoshi

[2017-06-19 14:55] chalu commented on #66
I made a pull request. Kindly review here :
https://github.com/PolymerElements/marked-element/pull/68

On Mon, Jun 5, 2017 at 3:37 PM, Michael Stramel <notifications@github.com>
wrote:

--
Kind Regards
Odili Charles Opute
*Twitter : @chaluwa*
*Author : **http://goo.gl/v54jy <http://goo.gl/v54jy>*

[2017-07-05 20:22] robrez opened #69 "sanitize always forced to true"
### Description
When binding a markdown file as the source of content, the `sanitize` flag is always set to `true`.

marked.js supports directly embedding html eg:
[code]

[Line 326](https://github.com/PolymerElements/marked-element/blob/master/marked-element.html#L326) forces the sanitize property to true.

Blame shows commit [c91e398](https://github.com/PolymerElements/marked-element/commit/c91e

[2017-07-05 20:34] stramel commented on #69
I believe @e111077 intentionally added this. Maybe he can answer better than me.

[2017-07-07 23:50] e111077 commented on #69
Inelegant suggestion I can't believe I committed TBH. I did this because of how unsafe it is to simply have unsanitized code; especially from an XHR that can easily be changed via data binding.

I believe that `sanitize` should be `true` by default but I did not want to break the API of this element. I'll submit a PR in a bit, but what I _SHOULD_ have done was to create a property along the lines

[2017-07-08 00:36] robrez commented on #69
I didn't even think about the dangerous aspect of inlining html.. I'm glad it was mentioned. I'll be sure to add some sanitization in the `html(strHtml)` render method:

https://github.com/chjj/marked#overriding-renderer-methods

Thanks for the help and detailed response

[2017-07-10 22:37] #69 closed, assigned to nobody

[2017-07-10 22:45] e111077 commented on #69
@robrez; added the `disableRemoteSanitization` property. It still defaults to not disabling it, but at least now you can! Let me know if this helps your use case

[2017-07-10 22:48] robrez commented on #69
Thanks again @e11077, I'm certain this will work for me

[2017-08-15 07:39] stramel commented on #35
Warning: Shameless plug, I threw together a markdown editor. Hopefully, y'all will give it a shot and give me some feedback.

https://github.com/MaritzSTL/mtz-marked-editor works with `textarea` and will work with `paper-textarea` with my fork that is currently in review (https://github.com/PolymerElements/paper-input/pull/557).

I think that this is outside the scope of this element but can be pa

[2017-08-15 11:46] bennypowers opened #75 "Table of Contents"
### Description
It would be super to have a TOC option. see https://github.com/chjj/marked/issues/545

[2017-08-15 14:47] stramel commented on #75
@bennypowers You should be able to do this by providing a `renderer` function.

https://github.com/PolymerElements/marked-element/blob/master/marked-element.html#L135-L143

[2017-08-15 18:11] bennypowers commented on #75
ok looks good I'll give that a try

[2017-08-15 18:11] #75 closed, assigned to nobody

[2017-08-24 12:44] AndreasGalster opened #76 "marked node_module missing + wrong reference"
With 3.0, I'd expect the marked-element to download marked into the node_modules root folder. right now it's not installed. On top of that, the path reference needs to point to the marked folder in the root.

[2017-08-24 14:37] stramel commented on #76
Yeah it does look like it has some things wrong with it. I will work on fixing these and bring them up in the auto-modulizer tooling.

[2017-09-23 03:35] e111077 commented on #35
Yeah, @stramel is right, I think this is out of the scope of this element.

[2017-09-23 03:35] #35 closed, assigned to nobody

[2017-10-10 15:25] stramel commented on #48
Circling back to this, @valdrinkoshi did you get a chance to look at this?

[2017-10-10 18:18] valdrinkoshi commented on #48
I've tested this with paper-dialog v2.0.0 in both variants (polymer 1.x and 2.x, webcomponentsjs v0.7.4 and v1.0.0), and I couldn't reproduce this. I've tested on Chrome and Firefox.
Closing this for now, @benmiller86 let us know if the problem persists for you 👌

[2017-10-10 18:18] #48 closed, assigned to nobody

[2017-11-14 19:41] stramel commented on #76
This is covered under these upstream issues:

https://github.com/Polymer/polymer-modulizer/issues/174
https://github.com/Polymer/polymer-modulizer/issues/133

[2017-11-16 17:37] #66 closed, assigned to nobody

[2017-11-21 08:06] #76 closed, assigned to nobody

[2017-11-22 16:18] MajorBreakfast opened #81 "Polymer 3.0 support is broken"
- [x] `package.json` misses `marked` as a dependency
Fixed through recent PR https://github.com/Polymer/polymer-modulizer/pull/328 A new preview version of `<marked-element>` is coming up
- [x] Import of `marked` in `marked-import.js` needs two `../` (-> `../../marked/lib/marked.js'`)
- [x] When using webpack, the `marked` library does not set the global variable. This means `window.marked` is `un

[2017-11-22 16:25] stramel commented on #81
Related to #76

You can use my branch that I used for #77. The goal is to fix the issues upstream. Most issues have been fixed upstream but not re-ran yet.

[2017-11-22 16:46] MajorBreakfast commented on #81
@stramel Thx for the quick reply.

I've another thing: The `marked` library exports its result using CommonJS syntax when using webpack. In this case the global variable on window won't be set and consequently the code of `<marked-element>` breaks. That probably needs some kind of fix in this repo.

In any case I'd prefer if you kept the issue open until it is addressed and verified to be working.

[2017-11-23 10:17] MajorBreakfast commented on #81
👍 Thanks for reopening!

[2017-11-28 09:41] ankon opened #82 "Replace marked library with 8fold-marked"
### Description

The https://github.com/chjj/marked project seems to be unmaintained right now, and instead there is https://github.com/8fold/marked. This contains at least one additional XSS fix, which this element should pick up.

### Expected outcome

8fold-marked is used.

### Actual outcome

marked is used.

[2017-11-28 09:43] ankon commented on #82
XSS fix: https://github.com/chjj/marked/pull/844, applied at https://github.com/8fold/marked/commit/8f9d0b72f5606ed32057049f387161dd41c36ade

Note also https://github.com/PolymerElements/marked-element/issues/40 exists since a while, asking for better defaults.

[2017-12-20 21:23] evancaldwell commented on #81
Noticing this is still not merged, any indication as to what the status is? Also, do I need to install marked.js separately? If I remember correctly, in Polymer 1.0 that wasn't necessary.

[2017-12-20 21:28] stramel commented on #81
We either need to find a solid solution for replacing marked library or fork marked to be es-module compliant.

[2017-12-20 21:36] evancaldwell commented on #81
I see, is there any workaround in the meantime? I'm building some documentation for internal Polymer components and the `iron-doc-viewer` uses `marked-element`.

[2017-12-22 13:50] MajorBreakfast commented on #81
@evancaldwell There's a workaround if you're using webpack: Install the marked package using npm and use webpack's alias feature to map `../marked` to the `marked` package. Here's how to do it:
[code]

Also you need to make `marked` a global variable manually somewhere before your app is loaded:
[code]
The way marked is loaded in [marked-import.js](https://github.com/PolymerElements/marked-element

[2017-12-22 20:53] evancaldwell commented on #81
@MajorBreakfast I hadn't even thought of that. It's working perfectly for `marked` but for anyone who might come looking later, because npm's `prism` is actually `prismjs` you have to:
[code]

[2017-12-22 21:45] MajorBreakfast commented on #81
I've edited my post above because I had forgotten to mention the global variable thing that I had to fix as well.

[2017-12-22 22:32] evancaldwell commented on #81
@MajorBreakfast where are you putting the `window.marked = require('marked')`?

[2017-12-23 23:47] MajorBreakfast commented on #81
At the top of my main JavaScript module (root module of my webpack bundle). Something like:
[code]

Again, I had to do this, so that the `<marked-element>` was able to find the marked library which didn't create its global variable because it detected that it was loaded into an environment with modules (webpack).

***

Side note: I'm using the good old `require()` method, because otherwise the ord

[2017-12-25 19:10] stramel commented on #82
marked library was updated to cover the XSS issues and tagged as 0.3.9

[2017-12-25 19:10] #82 closed, assigned to nobody

[2018-01-02 14:28] ankon commented on #82
@stramel thanks.

For being horribly paranoid: could this project explicitly bump the library requirement to 0.3.9?

[2018-01-02 20:31] FredKSchott commented on #81
Thanks for all the feedback and triaging help everyone! We're getting ready to release a new batch of elements which should hopefully include a working marked-element, you can follow our progress here (3.0 elements are auto-generated using our polymer-modulizer tool): https://github.com/Polymer/polymer-modulizer/

[2018-01-04 18:28] stramel commented on #82
@ankon I put out #84  for review, we'll see what they think.

[2018-02-13 12:49] mgibas commented on #81
Issue seems to be fixed in `polymer-modulizer` (per https://github.com/Polymer/polymer-modulizer/issues/174). Should we update marked-element (rerun modulizer) ?

[2018-02-13 14:02] MajorBreakfast commented on #81
@mgibas They do that from time to time. The last time was only 7 days ago.

The `package.json` still hasn't listed `marked` as a dependency.
https://github.com/PolymerElements/marked-element/blob/__auto_generated_3.0_preview/package.json

The other problem is fixed though! I've updated my post above to reflect this.

[2018-02-13 23:38] e111077 commented on #81
Fixed upstream see: Polymer/polymer-modulizer#328.

Will close when we run the modulizer catalog-wide again

[2018-02-14 08:08] MajorBreakfast commented on #81
@e111077 There is still the webpack problem. `marked-import.js` should be transformed into something that works with and without webpack:

[code]

[2018-02-15 12:20] mgibas commented on #81
@MajorBreakfast you are right - marked has CommonJS exports :(

`import marked from '../../marked/lib/marked.js'` works only with webpacker
`import '../../marked/lib/marked.js'` works only without webpacker

Is there any workaround to make it work in both scenarios ?

[2018-02-15 15:41] MajorBreakfast commented on #81
@mgibas Does it break? Try this `marked-import.js` then:
[code]

[2018-02-16 09:31] mgibas commented on #81
@MajorBreakfast ugh, so simple - that worked, thanks!

[2018-02-16 10:30] MajorBreakfast commented on #81
I've created a PR for the webpack support.
https://github.com/PolymerElements/marked-element/pull/87

[2018-02-23 23:58] e111077 commented on #81
webpack fixed in #87 marked dep fixed in Polymer/polymer-modulizer#328

[2018-02-23 23:58] #81 closed, assigned to nobody

[2018-08-29 16:27] jpradelle opened #96 "Webpack support broken"
Issue with webpack using @polymer/iron-demo-helpers/demo-snippet on version 3.0.0-pre.23:
[code]

I think this has been fixed in https://github.com/PolymerElements/marked-element/issues/81 and then broke again.

`&& window.require` has been added here https://github.com/PolymerElements/marked-element/commit/1fef15da17555cb91f1b18fed1aa7666ba3ebda9#diff-b3e973a07f826cf78314752a8b5a4cfcR13
If I reve

[2018-09-07 08:18] 43081j commented on #96
Yup I'm seeing this problem too.

Webpack doesn't introduce a `window.require`, it replaces `require` calls with a `__webpack_require__` on build.

So we should probably `if (!window.marked && require) {`

cc @e111077

[2018-09-07 11:21] e111077 commented on #96
It was added for Polymer 3 support in which modules run in strict mode and this will cause an exception otherwise. I suppose the change can be reverted for 2.x to support we pack, but this is a no-go for us modules.

We are currently in a code freeze so this reversion may have to wait

[2018-09-07 23:27] e111077 commented on #96
misread. this is in the 3.x branch. Did some local testing. It seems to work just fine without the check. Will make a PR to revert

[2018-09-19 07:30] lastmjs opened #98 "Syntax highlighting"
So how do you do syntax highlighting with the new version of the element?

[2019-02-06 23:25] RebeccaStevens opened #99 "Import default export of markedjs"
### Description

My build breaks when I try to build my app as the markedjs library isn't being imported correctly.

If I change this line:

https://github.com/PolymerElements/marked-element/blob/039190200a34a91d59c7899e51448b451993e22b/marked-import.js#L11

to this:

[code]

my build works successfully.

### Expected outcome
[code]

### Actual outcome
[code]

### Browsers Affected

I assume all b

[2019-03-12 22:39] e111077 commented on #99
Hi, unfortunately the marked library does not have an es6 default export (`export default marked`). This means that changing this to the default import breaks vanilla ES6 javascript usage of marked-element. This works fine with commonjs and marked uses commonjs exports as well which is what you may be seeing here.

Can you give more information about your build?

[2019-03-12 23:16] RebeccaStevens commented on #99
Basically I'm just trying to use the `iron-component-page`.
My main script file looks like this:

[code]

This is then passed to both [rollup](https://github.com/rollup/rollup) (to create an esm) and [webpack](https://github.com/webpack/webpack) (to create an iife). (I wasn't able to use rollup for both as rollup has issues creating an iife if the source has a dynamic import).

My rollup config lo

[2019-03-12 23:24] e111077 commented on #99
hmm is it possible to exclude the marked js library as a commonjs module? My guess is that your build is treating it as such when we are using it as an es module as marked was written to support all cases.

[2019-03-12 23:46] RebeccaStevens commented on #99
That was it. Adding this fixed my issue:

[code]

Thanks for your help.

[2019-03-12 23:46] #99 closed, assigned to nobody

[2019-03-12 23:55] e111077 commented on #99
Really good to hear, cheers!

[2019-04-15 14:27] jarrodek opened #100 "`marked.Renderer` is not a constructor when using pikapkg/web"
### Description

This may be similar to #99. I'm using `pikapkg/web` (as suggested in Polymer's project issue) to enable native imports which are required for Electron app. After few days I made my project to work but now I see bunch of errors when using marked element. So the Pika web transforms marked library and `marked` object has only `default` property and this property has package export.
N

[2019-04-15 14:43] stramel commented on #100
@jarrodek You should be able to use the `whitelist` property on @pikapkg/web to skip the transformation of `marked`. Check out this comment. https://github.com/pikapkg/web/issues/40#issuecomment-482622609

[2019-04-15 21:49] jarrodek commented on #100
I tried it but no luck. It still gets transformed.
As a walkaround I am calling a script on postinstall script to replace `marked.Renderer` with `marked.default.Renderer` and later `marked()` with `marked.default()`.

[2019-04-19 14:26] jarrodek opened #101 "Npm audit security report shows marked library security vulnerability"
The result of running `npm audit` command on any of hundreds of my components:

[code]
I also use this element directly, not only through `iron-component-page`.

I tried to fork the repo and upgrade the version but tests fails. I am not sure what was intention so I will leave it up to you to fix this. I hope it can be fixed as my security team will definitely notice alerts very soon :)

[2019-04-19 14:35] stramel commented on #101
I will take a look at upgrading and discuss with the Polymer team about what the plan is for this. It appears there are breaking changes between 0.3 and 0.6.

[2019-05-17 18:23] jarrodek commented on #101
Any update on this?

[2020-03-13 22:00] pedro2555 opened #104 "databinding support"
Is there any support at all for binding markdown text to an element data attribute?

### Expected outcome

I was hoping for something like:
[code]

### Actual outcome

For sure the example I post does not work. But one can infer a plethora of different ways to try and bind to `item.markdown`, none I could try worked.

[2020-03-13 22:32] pedro2555 commented on #104
Just figured it.

[code]

[2020-03-13 22:32] #104 closed, assigned to nobody

[2020-09-22 15:13] jpradelle commented on #96
I confirm it's fixed, thanks

[2020-09-22 15:13] #96 closed, assigned to nobody

[2022-02-16 09:37] navalamol commented on #101
Vulnerability for nested package "marked" has been resolved in the upgrade version.

For more information -
https://snyk.io/test/npm/@polymer/marked-element
https://snyk.io/test/npm/marked/4.0.12

Team, can you please check if this can be upgraded. It should resolve almost all vulnerabilities.

[2022-04-25 08:22] Arplane-SOCITY commented on #16
@everyone-in-issue `<script type="text/markdown">` Is No Longer Work Correctly

[2022-04-25 08:22] Arplane-SOCITY commented on #16
@notwaldorf Can we open this?